 @charset "UTF-8";

.clear {
    clear: both;
}
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
	height:100%;
	background-color:black;
	background-position: center center;
}

.container{
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	height:100%
}
.container > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container > div > div{
	width: 185px;
	height: 100px;
	padding: 0px;
	overflow: hidden;
	text-align: center;
	margin:auto;
	display:block;
	
	}
.machineResult{
	color:#fff;
	text-align:center;
	font-weight: 900;
}
.noBorder{
	border:none !important;
	background: transparent !important;
}
.slot{
	/* height:100px; */
	background-position-x: 55%;
	background-repeat: no-repeat;
}

#eyes{border-bottom:0;}
#noses{border-bottom:0;border-top:0;height: 80px;}
#mouths{border-top:0;height: 75px;}

/* */

#face {width:100%;/* max-width:640px */}

.eyes{ background:url("../img/eyes_fbf658.png") top left no-repeat; width:175px; height:100px;  }
.eyes.slot1 {background-position:-10px -10px; }
.eyes.slot2 {background-position:-10px -120px; }
.eyes.slot3 {background-position:-10px -230px; }
.eyes.slot4 {background-position:-10px -340px; }
.eyes.slot5 {background-position:-10px -450px; }
.eyes.slot6 {background-position:-10px -560px; }
.eyes.slot7 {background-position:-10px -670px; }
.eyes.slot8 {background-position:-10px -780px; }
.eyes.slot9 {background-position:-10px -890px; }
.eyes.slot10{background-position:-10px -1000px; }
.eyes.slot11{background-position:-10px -1110px; }
.eyes.slot12{background-position:-10px -1220px; }
.eyes.slot13{background-position:-10px -1330px; }
.eyes.slot14{background-position:-10px -1440px; }
.eyes.slot15{background-position:-10px -1550px; }
.eyes.slot16{background-position:-10px -1660px; }
.eyes.slot17{background-position:-10px -1770px; }
.eyes.slot18{background-position:-10px -1880px; }
.eyes.slot19{background-position:-10px -1990px; }
.eyes.slot20{background-position:-10px -2100px; }
.eyes.slot21{background-position:-10px -2210px; }
.eyes.slot22{background-position:-10px -2320px; }
.eyes.slot23{background-position:-10px -2430px; }
.eyes.slot24{background-position:-10px -2540px; }
.eyes.slot25{background-position:-10px -2650px; }
.eyes.slot26{background-position:-10px -2760px; }
.eyes.slot27{background-position:-10px -2870px; }
.eyes.slot28{background-position:-10px -2980px; }
.eyes.slot29{background-position:-10px -3090px; }
.eyes.slot30{background-position:-10px -3200px; }
.eyes.slot31{background-position:-10px -3310px; }
.eyes.slot32{background-position:-10px -3420px; }
.eyes.slot33{background-position:-10px -3530px; }
.eyes.slot34{background-position:-10px -3640px; }
.eyes.slot35{background-position:-10px -3750px; }
.eyes.slot36{background-position:-10px -3860px; }
.eyes.slot37{background-position:-10px -3970px; }
.eyes.slot38{background-position:-10px -4080px; }
.eyes.slot39{background-position:-10px -4190px; }
.eyes.slot40{background-position:-10px -4300px; }
.eyes.slot41{background-position:-10px -4410px; }
.eyes.slot42{background-position:-10px -4520px; }
.eyes.slot43{background-position:-10px -4630px; }
.eyes.slot44{background-position:-10px -4740px; }
.eyes.slot45{background-position:-10px -4850px; }
.eyes.slot46{background-position:-10px -4960px; }
.eyes.slot47{background-position:-10px -5070px; }
.eyes.slot48{background-position:-10px -5180px; }
.eyes.slot49{background-position:-10px -5290px; }
.eyes.slot50{background-position:-10px -5400px; }
.eyes.slot51{background-position:-10px -5510px; }
.eyes.slot52{background-position:-10px -5620px; }
.eyes.slot53{background-position:-10px -5730px; }
.eyes.slot54{background-position:-10px -5840px; }
.eyes.slot55{background-position:-10px -5950px; }

.eyes.cfbf658{ background-image:url("../img/eyes_fbf658.png");}
.eyes.cde1e7f{ background-image:url("../img/eyes_de1e7f.png");}
.eyes.c42b0b8{ background-image:url("../img/eyes_42b0b8.png");}
.eyes.c45ff90{ background-image:url("../img/eyes_45ff90.png");}
.eyes.c93d4f0{ background-image:url("../img/eyes_93d4f0.png");}
.eyes.c4322b7{ background-image:url("../img/eyes_4322b7.png");}
.eyes.c5083ed{ background-image:url("../img/eyes_5083ed.png");}
.eyes.c914cea{ background-image:url("../img/eyes_914cea.png");}
.eyes.cf689df{ background-image:url("../img/eyes_f689df.png");}
.eyes.cbc99f3{ background-image:url("../img/eyes_bc99f3.png");}
.eyes.cfb5db4{ background-image:url("../img/eyes_fb5db4.png");}
.eyes.cfcff8c{ background-image:url("../img/eyes_fcff8c.png");}
.eyes.c62bfa0{ background-image:url("../img/eyes_62bfa0.png");}
.eyes.cfdd14e{ background-image:url("../img/eyes_fdd14e.png");}
.eyes.ce6f4c7{ background-image:url("../img/eyes_e6f4c7.png");}
.eyes.cee8ad6{ background-image:url("../img/eyes_ee8ad6.png");}
.eyes.cffffff{ background-image:url("../img/eyes_ffffff.png");}
.eyes.cffdc8d{ background-image:url("../img/eyes_ffdc8d.png");}
.eyes.c00036d{ background-image:url("../img/eyes_00036d.png");}
.eyes.c071fff{ background-image:url("../img/eyes_071fff.png");}
.eyes.ccccbd0{ background-image:url("../img/eyes_cccbd0.png");}
.eyes.cfbcb00{ background-image:url("../img/eyes_fbcb00.png");}
.eyes.cff0042{ background-image:url("../img/eyes_ff0042.png");}
.eyes.c61ebd8{ background-image:url("../img/eyes_61ebd8.png");}
.eyes.c8adbe2{ background-image:url("../img/eyes_8adbe2.png");}
.eyes.cffc3b1{ background-image:url("../img/eyes_ffc3b1.png");}
.eyes.cf0c2f3{ background-image:url("../img/eyes_f0c2f3.png");}

.noses{ background:url("../img/noses_fbf658.png") top left no-repeat; width:175px; height:80px;   }
.noses.slot1 {background-position:-10px -10px; }
.noses.slot2 {background-position:-10px -100px; }
.noses.slot3 {background-position:-10px -190px; }
.noses.slot4 {background-position:-10px -280px; }
.noses.slot5 {background-position:-10px -370px; }
.noses.slot6 {background-position:-10px -460px; }
.noses.slot7 {background-position:-10px -550px; }
.noses.slot8 {background-position:-10px -640px; }
.noses.slot9 {background-position:-10px -730px; }
.noses.slot10{background-position:-10px -820px; }
.noses.slot11{background-position:-10px -910px; }
.noses.slot12{background-position:-10px -1000px; }
.noses.slot13{background-position:-10px -1090px; }
.noses.slot14{background-position:-10px -1180px; }
.noses.slot15{background-position:-10px -1270px; }
.noses.slot16{background-position:-10px -1360px; }
.noses.slot17{background-position:-10px -1450px; }
.noses.slot18{background-position:-10px -1540px; }
.noses.slot19{background-position:-10px -1630px; }
.noses.slot20{background-position:-10px -1720px; }
.noses.slot21{background-position:-10px -1810px; }
.noses.slot22{background-position:-10px -1900px; }
.noses.slot23{background-position:-10px -1990px; }
.noses.slot24{background-position:-10px -2080px; }
.noses.slot25{background-position:-10px -2170px; }
.noses.slot26{background-position:-10px -2260px; }
.noses.slot27{background-position:-10px -2350px; }
.noses.slot28{background-position:-10px -2440px; }
.noses.slot29{background-position:-10px -2530px; }
.noses.slot30{background-position:-10px -2620px; }
.noses.slot31{background-position:-10px -2710px; }
.noses.slot32{background-position:-10px -2800px; }
.noses.slot33{background-position:-10px -2890px; }
.noses.slot34{background-position:-10px -2980px; }
.noses.slot35{background-position:-10px -3070px; }
.noses.slot36{background-position:-10px -3160px; }
.noses.slot37{background-position:-10px -3250px; }
.noses.slot38{background-position:-10px -3340px; }
.noses.slot39{background-position:-10px -3430px; }
.noses.slot40{background-position:-10px -3520px; }
.noses.slot41{background-position:-10px -3610px; }
.noses.slot42{background-position:-10px -3700px; }
.noses.slot43{background-position:-10px -3790px; }
.noses.slot44{background-position:-10px -3880px; }
.noses.slot45{background-position:-10px -3970px; }

.noses.cfbf658{ background-image:url("../img/noses_fbf658.png");}
.noses.cde1e7f{ background-image:url("../img/noses_de1e7f.png");}
.noses.c42b0b8{ background-image:url("../img/noses_42b0b8.png");}
.noses.c45ff90{ background-image:url("../img/noses_45ff90.png");}
.noses.c93d4f0{ background-image:url("../img/noses_93d4f0.png");}
.noses.c4322b7{ background-image:url("../img/noses_4322b7.png");}
.noses.c5083ed{ background-image:url("../img/noses_5083ed.png");}
.noses.c914cea{ background-image:url("../img/noses_914cea.png");}
.noses.cf689df{ background-image:url("../img/noses_f689df.png");}
.noses.cbc99f3{ background-image:url("../img/noses_bc99f3.png");}
.noses.cfb5db4{ background-image:url("../img/noses_fb5db4.png");}
.noses.cfcff8c{ background-image:url("../img/noses_fcff8c.png");}
.noses.c62bfa0{ background-image:url("../img/noses_62bfa0.png");}
.noses.cfdd14e{ background-image:url("../img/noses_fdd14e.png");}
.noses.ce6f4c7{ background-image:url("../img/noses_e6f4c7.png");}
.noses.cee8ad6{ background-image:url("../img/noses_ee8ad6.png");}
.noses.cffffff{ background-image:url("../img/noses_ffffff.png");}
.noses.cffdc8d{ background-image:url("../img/noses_ffdc8d.png");}
.noses.c00036d{ background-image:url("../img/noses_00036d.png");}
.noses.c071fff{ background-image:url("../img/noses_071fff.png");}
.noses.ccccbd0{ background-image:url("../img/noses_cccbd0.png");}
.noses.cfbcb00{ background-image:url("../img/noses_fbcb00.png");}
.noses.cff0042{ background-image:url("../img/noses_ff0042.png");}
.noses.c61ebd8{ background-image:url("../img/noses_61ebd8.png");}
.noses.c8adbe2{ background-image:url("../img/noses_8adbe2.png");}
.noses.cffc3b1{ background-image:url("../img/noses_ffc3b1.png");}
.noses.cf0c2f3{ background-image:url("../img/noses_f0c2f3.png");}

.mouths{ background:url("../img/mouths_fbf658.png") top left no-repeat;  width:175px; height:75px; }
.mouths.slot1 {background-position:-10px -10px; }
.mouths.slot2 {background-position:-10px -95px; }
.mouths.slot3 {background-position:-10px -180px; }
.mouths.slot4 {background-position:-10px -265px; }
.mouths.slot5 {background-position:-10px -350px; }
.mouths.slot6 {background-position:-10px -435px; }
.mouths.slot7 {background-position:-10px -520px; }
.mouths.slot8 {background-position:-10px -605px; }
.mouths.slot9 {background-position:-10px -690px; }
.mouths.slot10{background-position:-10px -775px; }
.mouths.slot11{background-position:-10px -860px; }
.mouths.slot12{background-position:-10px -945px; }
.mouths.slot13{background-position:-10px -1030px; }
.mouths.slot14{background-position:-10px -1115px; }
.mouths.slot15{background-position:-10px -1200px; }
.mouths.slot16{background-position:-10px -1285px; }
.mouths.slot17{background-position:-10px -1370px; }
.mouths.slot18{background-position:-10px -1455px; }
.mouths.slot19{background-position:-10px -1540px; }
.mouths.slot20{background-position:-10px -1625px; }
.mouths.slot21{background-position:-10px -1710px; }
.mouths.slot22{background-position:-10px -1795px; }
.mouths.slot23{background-position:-10px -1880px; }
.mouths.slot24{background-position:-10px -1965px; }
.mouths.slot25{background-position:-10px -2050px; }
.mouths.slot26{background-position:-10px -2135px; }
.mouths.slot27{background-position:-10px -2220px; }
.mouths.slot28{background-position:-10px -2305px; }
.mouths.slot29{background-position:-10px -2390px; }
.mouths.slot30{background-position:-10px -2475px; }
.mouths.slot31{background-position:-10px -2560px; }
.mouths.slot32{background-position:-10px -2645px; }
.mouths.slot33{background-position:-10px -2730px; }
.mouths.slot34{background-position:-10px -2815px; }
.mouths.slot35{background-position:-10px -2900px; }
.mouths.slot36{background-position:-10px -2985px; }
.mouths.slot37{background-position:-10px -3070px; }
.mouths.slot38{background-position:-10px -3155px; }
.mouths.slot39{background-position:-10px -3240px; }
.mouths.slot40{background-position:-10px -3325px; }
.mouths.slot41{background-position:-10px -3410px; }
.mouths.slot42{background-position:-10px -3495px; }
.mouths.slot43{background-position:-10px -3580px; }
.mouths.slot44{background-position:-10px -3665px; }
.mouths.slot45{background-position:-10px -3750px; }
.mouths.slot46{background-position:-10px -3835px; }
.mouths.slot47{background-position:-10px -3920px; }
.mouths.slot48{background-position:-10px -4005px; }
.mouths.slot49{background-position:-10px -4090px; }
.mouths.slot50{background-position:-10px -4175px; }
.mouths.slot51{background-position:-10px -4260px; }
.mouths.slot52{background-position:-10px -4345px; }
.mouths.slot53{background-position:-10px -4430px; }
.mouths.slot54{background-position:-10px -4515px; }
.mouths.slot55{background-position:-10px -4600px; }

.mouths.cfbf658{ background-image:url("../img/mouths_fbf658.png");}
.mouths.cde1e7f{ background-image:url("../img/mouths_de1e7f.png");}
.mouths.c42b0b8{ background-image:url("../img/mouths_42b0b8.png");}
.mouths.c45ff90{ background-image:url("../img/mouths_45ff90.png");}
.mouths.c93d4f0{ background-image:url("../img/mouths_93d4f0.png");}
.mouths.c4322b7{ background-image:url("../img/mouths_4322b7.png");}
.mouths.c5083ed{ background-image:url("../img/mouths_5083ed.png");}
.mouths.c914cea{ background-image:url("../img/mouths_914cea.png");}
.mouths.cf689df{ background-image:url("../img/mouths_f689df.png");}
.mouths.cbc99f3{ background-image:url("../img/mouths_bc99f3.png");}
.mouths.cfb5db4{ background-image:url("../img/mouths_fb5db4.png");}
.mouths.cfcff8c{ background-image:url("../img/mouths_fcff8c.png");}
.mouths.c62bfa0{ background-image:url("../img/mouths_62bfa0.png");}
.mouths.cfdd14e{ background-image:url("../img/mouths_fdd14e.png");}
.mouths.ce6f4c7{ background-image:url("../img/mouths_e6f4c7.png");}
.mouths.cee8ad6{ background-image:url("../img/mouths_ee8ad6.png");}
.mouths.cffffff{ background-image:url("../img/mouths_ffffff.png");}
.mouths.cffdc8d{ background-image:url("../img/mouths_ffdc8d.png");}
.mouths.c00036d{ background-image:url("../img/mouths_00036d.png");}
.mouths.c071fff{ background-image:url("../img/mouths_071fff.png");}
.mouths.ccccbd0{ background-image:url("../img/mouths_cccbd0.png");}
.mouths.cfbcb00{ background-image:url("../img/mouths_fbcb00.png");}
.mouths.cff0042{ background-image:url("../img/mouths_ff0042.png");}
.mouths.c61ebd8{ background-image:url("../img/mouths_61ebd8.png");}
.mouths.c8adbe2{ background-image:url("../img/mouths_8adbe2.png");}
.mouths.cffc3b1{ background-image:url("../img/mouths_ffc3b1.png");}
.mouths.cf0c2f3{ background-image:url("../img/mouths_f0c2f3.png");}

#screenshot {position: fixed;bottom:0;width:100%;height:10%;cursor:pointer;background-color:rgba(255,255,255,0);}
#camera {position: fixed;top:0;width:100%;height:10%;cursor:pointer;background-color:rgba(255,255,255,0.2);}

.c000 {background:#000;}
.cFFF {background:#FFF;}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
}
 /* @[@0.01f, @1.1f, @0.8f, @1.0f]; */
@-webkit-keyframes bounceIn {
  0%, 50%, 75%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.01, .01, .01);
    transform: scale3d(.01, .01, .01);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  75% {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 50%, 75%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.01, .01, .01);
    transform: scale3d(.01, .01, .01);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  75% {
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
